@import "tailwindcss";
@import "./styles/utilities.css";

:root {
  --background: #f1f1fb;
  --foreground: #141619;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #141619;
    --foreground: #f1f1fb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
